@media(min-width:200px) and (max-width:767px){
	.container{
		width:90%;
	}
	.col-mb-1{
	width:8.33%;
	padding:0 15px;
	}
	.col-mb-2{
	width:16.66%;
	padding:0 15px;
	}
	.col-mb-3{
	width:25%;
	padding:0 15px;
	}
	.col-mb-4{
	width:33.33%;
	padding:0 15px;
	}
	.col-mb-5{
	width:41.66%;
	padding:0 15px;
	}
	.col-mb-6{
	width:50%;
	padding:0 15px;
	}
	.col-mb-7{
	width:58.33%;
	padding:0 15px;
	}
	.col-mb-8{
	width:66.66%;
	padding:0 15px;
	}
	.col-mb-9{
	width:75%;	
	padding:0 15px;
	}
	.col-mb-10{
	width:83.33%;
	padding:0 15px;
	}	
	.col-mb-11{
	width:91.66%;
	padding:0 15px;
	}
	.col-mb-12{
	width:100%;
	padding:0 15px;
	}
/* section_1 */
	.hide{
	display:none;
	}
	.card{
	margin-left:0;
	}
/* Background img section */
	
	#banner{
		text-align:center;
	}
/* About section */
	.abt_sub_title::after{
		left:28%;
	}
	.card-1{
		padding-top:20px;
	}
/* Section_4 */
.why-us img{
	height:300px;
	width:100%;
	object-fit:cover;
	position:relative;
	margin-left:0;
}
.icn-2{
	position:absolute;
	color:#ed502e;
	font-size:70px;
	top:8%;
	right:40%;
}

/* Service section */
	.ser_sub_title::after{
		left:35%;
	}
/* Testimonial section */
	.test_sub_title::after{
		left:55%;
	}
	
	.test_hide{
		display:none;
	}
/* Portfolio section */
	.port_sub_title::after{
		left:40%;
	}
	.portfolio_nav{
	padding-left:22%;
	}
	
/* Team Section */
	.team_sub_title::after{
		left:25%;
	}
/* FAQ Section */
	.faq_sub_title::after{
		left:25%;
	}
	.faq_para{
		display:block;
		padding:20px 0;
	}
	.faq_cnt{
		padding-bottom:20px;
	}
	
	
/* Contact section */
	.contact_sub_title::after{
		left:35%;
	}
	.contact_cnt{
		padding:20px 0;
	}
	.contact_cnt1{
		padding:20px 0;
	}
	.contact_cnt2{
		padding:20px 0;
	}
	.form_group input,textarea{
		width:100%;
	}
	.form button{
		margin-left:60px;
	}
	
/* Last section....... */
	.last_2{
		padding:20px 0;
	}
	.last_1{
		font-size:11px;
	}
	.space button{
	padding:9px 20px;
	color:white;
	background-color:#ed502e;
	font-size:16px;
	border:none;
	border-radius:0 5px 5px 0;
	margin-right:19px;
	position:absolute;
	right:0;
	top:1px;
	}
}
@media(min-width:768px) and (max-width:998px){
	.container{
	width:90%;
	}
	.col-tb-1{
	width:8.33%;
	padding:0 15px;
	}
	.col-tb-2{
	width:16.66%;
	padding:0 15px;
	}
	.col-tb-3{
	width:25%;
	padding:0 15px;
	}
	.col-tb-4{
	width:33.33%;
	padding:0 15px;
	}
	.col-tb-5{
	width:41.66%;
	padding:0 15px;
	}
	.col-tb-6{
	width:50%;
	padding:0 15px;
	}
	.col-tb-7{
	width:58.33%;
	padding:0 15px;
	}
	.col-tb-8{
	width:66.66%;
	padding:0 15px;
	}
	.col-tb-9{
	width:75%;
	padding:0 15px;
	}
	.col-tb-10{
	width:83.33%;
	padding:0 15px;
	}
	.col-tb-11{
	width:91.66%;
	padding:0 15px;
	}
	.col-tb-12{
	width:100%;
	padding:0 15px;
	}
/* Section_1 */
	.hide{
		display:none;
	}
/* background img section */
	#banner{
		text-align:center;
		
	}
	.cont p{
		padding:0 40px;
	}
	
/* About section */
	.abt_sub_title::after{
		left:10%;
	}
	#about .primary_btn{
		padding-bottom:30px;
	}
/* section-4 */
	.why-us img{
		width:100%;
		margin-left:0px;
	}
.icn-2{
	position:absolute;
	color:#ed502e;
	font-size:70px;
	top:24%;
	right:42%;
}
/* Service section */
	.ser_sub_title::after{
		left:16%;
	}
/* Testimonial_section */
	.test_sub_title::after{
		left:20%;
	}
	.test_hide{
	display:none;
	}
	.test_top{
		padding-left:50px;
	}
/* Portfolio */
	.port_sub_title::after{
		left:15%;
	}

/* Team Section */
	.team_sub_title::after{
		left:10%;
	}
	.team_pic{
		width:100%;
	}
/* FAQ Section */
   
	.faq_para{
		display:block;
		padding-bottom:20px;
	}
	.faq_icncnt1{
		padding-right:46%;
	}
	.faq_icncnt3{
		padding-right:36%;
	}
	.faq_icncnt{
		padding-right:22%;
	}
	.faq_cnt{
		padding-bottom:20px;
		padding-top:40px;
	}
	.faq_cnt p{
		padding-left:20px;
	}
/* Contact section */
	.contact_sub_title::after{
		left:14%;
	}
	.contact_cnt{
		padding:20px 0;
	}
	.contact_cnt1{
		width:48%;
		padding:20px 0;
	}
	.contact_cnt2{
		width:48%;
		padding:20px 0;
	}
	.con_spac{
		padding-top:40px;
	}
	.con_sec{
		margin-top:2px;
	}
	.form_group input,textarea{
		width:100%;
	}
	
/* Last section....... */
	.last_2{
		padding:20px 0;
	}
	.space{
		padding:0;
		padding-right:40%;
	}
	#text{
		padding:10px 40px;
	}
/* } */
@media (min-width:999px){
	.block{
		display:block;
	}
}