@media(max-width:768px){
	.container{
		width:100%;
	}
	.col-mb-1{
	width:8.33%;
	padding:0 15px;
	}
	.col-mb-2{
	width:16.66%;
	padding:0 15px;
	}
	.col-mb-3{
	width:25%;
	padding:0 15px;
	}
	.col-mb-4{
	width:33.33%;
	padding:0 15px;
	}
	.col-mb-5{
	width:41.66%;
	padding:0 15px;
	}
	.col-mb-6{
	width:50%;
	padding:0 15px;
	}
	.col-mb-7{
	width:58.33%;
	padding:0 15px;
	}
	.col-mb-8{
	width:66.66%;
	padding:0 15px;
	}
	.col-mb-9{
	width:75%;	
	padding:0 15px;
	}
	.col-mb-10{
	width:83.33%;
	padding:0 15px;
	}	
	.col-mb-11{
	width:91.66%;
	padding:0 15px;
	}
	.col-mb-12{
	width:100%;
	padding:0 15px;
	}
/* section_1 */
	.hide{
	display:none;
	}
	.card{
	margin-left:0;
	}
/* Background img section */
	.content{
		padding-top:50%;
		position:center;
	}
/* About section */
	.abt h4::after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #ed502e;
    top: 28px;
    left: 24%;
	}
	.small-card{
	padding:28px 66px;
	background-color:white;
	border:solid 1px white;
	height:25vh;
	box-shadow:0 0 20px #00000092;
    }
	.card-2{
		padding-top:15%;
	}
	.icon{
		position:relative;
		right:45%;
	}
	.num{
		position:absolute;
		right:42%;
	}
	.num-1{
		padding-left:20%;
	}
	.num-2{
		padding-right:28px;
	}
/* Section_4 */
	.small-card > p{
		padding-top:23px;
	}
	.sub-para{
		padding-top:30px;
	}
	.back-1{
	background-color:white;
	border:solid 1px white;
	height:20vh;
	}
/* Service section */

	.serv h2{
		position:relative;
	}
	.serv h4::after{
	content:" ";
	display:inline-block;
	position:absolute;
	width:70px;
	height:1px;
	background-color:#ed502e;
	top:28px;
    left:24%;
	}
	.serv_card{
		height:35vh;
		padding:30px 30px; 
	}
	.serv_icn{
		padding-top:15%;
	}
/* Testimonial section */
.test_top{
	margin-top:20px;
}
.test h4::after{
	content:" ";
	display:inline-block;
	position:absolute;
	width:90px;
	height:1px;
	background-color:#ed502e;
	top:8%;
    left:38%;
	}
	.test_top{
	margin-top:10px;
	}
	.test_hide{
		display:none;
	}
/* Call to action */
	#sec_7 {
		height:30vh;
	}
	.call_alin p{
		padding:20px 13%;
		text-align:center;
	}
	.call_alin button{
		margin-top:10px;
	}
}
@media(min-width:768px) and  (max-width:999px){
	.container{
	width:100%;
	}
	.col-tb-1{
	width:8.33%;
	padding:0 15px;
	}
	.col-tb-2{
	width:16.66%;
	padding:0 15px;
	}
	.col-tb-3{
	width:25%;
	padding:0 15px;
	}
	.col-tb-4{
	width:33.33%;
	padding:0 15px;
	}
	.col-tb-5{
	width:41.66%;
	padding:0 15px;
	}
	.col-tb-6{
	width:50%;
	padding:0 15px;
	}
	.col-tb-7{
	width:58.33%;
	padding:0 15px;
	}
	.col-tb-8{
	width:66.66%;
	padding:0 15px;
	}
	.col-tb-9{
	width:75%;
	padding:0 15px;
	}
	.col-tb-10{
	width:83.33%;
	padding:0 15px;
	}
	.col-tb-11{
	width:91.66%;
	padding:0 15px;
	}
	.col-tb-12{
	width:100%;
	padding:0 15px;
	}
/* Section_1 */
	.hide{
		display:none;
	}
/* background img section */
	#sec-2{
	margin-top:20px;
	height:60vh;
	background:linear-gradient(black,#00000078),url("../images/slide-3.jpg");
	background-position:centre;
	background-size:cover;
	overflow:hidden;
	}
	.content{
		padding:20% 20%;
	}
	.card{
		margin-left:0;
	}
/* About section */
	.abt > h2{
	position:relative;
	}
	.abt h4::after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #ed502e;
    top:6.5%;
    left: 26%;
	}
	.con-1{
		padding:10% 12%;
	}
	.card-1{
		padding-top:15%;
	}
	.small-card{
	padding:28px 66px;
	background-color:white;
	border:solid 1px white;
	height:20vh;
	box-shadow:0 0 10px #00000092;
    }
	.icon{
		position:relative;
		right:45%;
	}
	.num{
		position:absolute;
		right:52%;
	}
	.num-1{
		padding-left:20%;
	}
	.num-2{
		padding-right:28px;
	}
	.small-card > p{
		padding-top:23px;
	}
/* section-4 */
	.sub-para{
		padding-top:30px;
	}
	.back-1{
	padding:20px 30px;
	background-color:white;
	border:solid 1px white;
	height:16vh;
	}
/* Service section */
	.serv h2{
		position:relative;
	}
	.serv h4::after{
	content:" ";
	display:inline-block;
	position:absolute;
	width:70px;
	height:1px;
	background-color:#ed502e;
	top:28px;
    left:30%;
	}
	.serv_card{
		height:35vh;
	}
	.serv_icn{
		padding-top:15%;
	}
/* Testimonial_section */
	.test h4::after{
	content:" ";
	display:inline-block;
	position:absolute;
	width:70px;
	height:1px;
	background-color:#ed502e;
	top:8%;
    left:24%;
	}
	.test_top{
	margin-top:10px;
	}
	.test_hide{
	display:none;
	}
/* Call to action */
	#sec_7 {
		height:25vh;
	}
	.call_alin p{
		padding:20px 19.5%;
		text-align:center;
	}
	.call_alin button{
		margin-top:10px;
	}
}
@media (min-width:999px){
	.block{
		display:block;
	}
}